<!doctype html>
<html lang="fr" data-fr-scheme="light">
<head>
  <%- include('includes/head.ejs') %>
  <link rel="stylesheet" href="/css/pages/consent.css">
  <%- include('pages/consent/consent.page-title.ejs') %>
</head>
<body id="fc-consent-page">
  <div class="fc-sticky-wrapper">
    <div class="fc-sticky-body">
      <%- include('includes/header.ejs') %>
      <main class="fr-container fr-mt-md-8w fr-mt-5w">
        <div class="fr-grid-row fr-grid-row--gutters">

          <section class="fr-col-12 fr-col-offset-md-1 fr-col-md-10">
            <%- include('pages/consent/consent.title.ejs'); %>
          </section>

          <section class="fr-col-12 fr-col-md-10 fr-col-lg-6 fr-col-xl-4 fr-m-auto fr-mt-md-3w fr-mt-2w">
            <form method="post" action="/api/v2/login">
              <%
              const showConsentBox = !locals.isOpenIdScope && locals.consentRequired;
              %>
              <% if (showConsentBox) { %>
                <%- include('pages/consent/consent.checkbox.ejs') %>
              <% } %>
              <%-
              include('pages/consent/consent.continue-button.ejs', {
                disabled: showConsentBox
              });
              %>
              <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
            </form>
          </section>

          <% if (locals.isOpenIdScope) { %>
          <section class="fr-col-12 fr-col-offset-md-1 fr-col-md-10 fc-text--left fc-text-lg--center fr-mt-md-5w fr-mt-6w">
            <%- include('pages/consent/consent.anonymous-complementary.ejs') %>
          </section>
          <% } else { %>
          <section class="fr-col-12 fr-col-offset-md-1 fr-col-md-10 fr-col-offset-lg-3 fr-col-lg-6  fr-mt-md-6w fr-mt-7w">
            <%- include('pages/consent/consent.accordion.ejs') %>
          </section>
          <% } %>

        </div>
      </main>
    </div>
    <%- include('includes/footer.ejs') %>
  </div>
  <%- include('includes/scripts.ejs') %>
  <% if (showConsentBox) { %>
    <script type="text/javascript" src="/js/dsfr.consent.js"></script>
  <% } %>
</body>
</html>
