<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('includes/head.ejs'); %>
    <link rel="stylesheet" href="/css/error.css" />
    <title>Connexion - choix du fournisseur d\'identité</title>
  </head>
  <body>
    <div id="error-wrapper">
      <%- include('includes/menu.ejs'); %>
      <main>
        <div id="error" data-testid="error-section">
          <div id="error-content">
            <%- include('includes/error/content.ejs'); %>
          </div>
          <div id="support-form-button">
            <%- include('pages/error/error.support.ejs'); %>
          </div>
        </div>
      </main>
    </div>
    <%- include('includes/footer.ejs'); %>
  </body>
</html>
