<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('partials/head.ejs'); %>
    <link rel="stylesheet" href="/css/error.css" />
    <title>Connexion - choix du fournisseur d\'identité</title>
  </head>
  <body>
    <div id="error-wrapper">
      <%- include('partials/menu.ejs'); %>
      <main>
        <div id="error">
          <div id="error-content">
            <%- include('partials/error/content.ejs'); %>
          </div>
          <div id="support-form-button">
            <%- include('partials/support-form-button.ejs'); %>
          </div>
        </div>
      </main>
    </div>
    <%- include('partials/footer.ejs'); %>
  </body>
</html>
