<!doctype html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/pages/interaction.css" />
    <link rel="stylesheet" href="/css/pages/ac.interaction.css" />
    <title>Connexion - choix du compte</title>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <main class="onboarding-container">
      <div>
        <a
          href="javascript:history.back()"
          class="fr-mt-2w fr-btn fr-btn--tertiary fr-btn--sm fr-btn--icon-left fr-icon-arrow-left-line"
        >
          retour
        </a>
        <h2 class="fr-my-4w">Choisir votre accès</h2>
        <%- include('pages/interaction-identity-provider/interaction.loop.ejs')
        %>
        <hr class="fr-mt-6w" />
        <p class="fr-my-2w">
          Si vous ne faites partie d’aucune de ces administrations, faites-le
          nous savoir.
        </p>
        <p class="fr-btn fr-btn--sm fr-btn--tertiary fr-mb-6w">
          <a
            class="mailto"
            href="mailto:support@agentconnect.gouv.fr?subject=Je ne trouve pas mon administration sur AgentConnect"
          >
            Nous écrire
            <span
              class="fr-icon-mail-line fr-icon--sm fr-pl-1v"
              aria-hidden="true"
            ></span>
          </a>
        </p>
      </div>
      <%- include('pages/interaction-identity-provider/interaction.media.ejs')%>
    </main>
    <%- include('includes/footer.ejs') %> <%- include('includes/scripts.ejs') %>
  </body>
</html>
