<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/pages/interaction.css" />
    <title>Connexion - choix du compte</title>
  </head>
  <body id="fc-interaction-page">
    <div class="fc-sticky-wrapper">
      <div class="fc-sticky-body">
        <%- include('includes/header.ejs') %>
        <main>
          <%- include('pages/interaction/interaction.notification.ejs') %>
          <div class="fr-container fr-mt-md-8w fr-mt-5w">
            <section class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
              <div class="fr-col-12 fr-col-md-10 fr-col-lg-10 fc-text-align--left-md-center">
                <%- include('pages/interaction/interaction.anonymous.ejs') %>
                <%- include('pages/interaction/interaction.welcome.ejs') %> 
              </div>
            </section>
            <section class="fr-mt-3w fr-mt-md-4w fc-grid--provider" data-testid="main-providers" >
              <% locals.providers.filter(p => p.display) .forEach((provider) => { %>
                <form action="/api/v2/redirect-to-idp" method="POST" class="interaction-main-content-form" name="fs-request">
                  <%- include('pages/interaction/interaction.providers.ejs', { provider }) %>
                </form>
              <% }); %>
            </section>
            <%- include('pages/interaction/interaction.back-button.ejs') %>
          </div>
        </main>
      </div>
      <%- include('includes/footer.ejs') %>
    </div>
    <%- include('includes/scripts.ejs') %>
  </body>
</html>
