<!doctype html>
<html lang="en" data-fr-scheme="light">
  <head>
    <%- include('includes/head.ejs') %> <%-
    include('pages/error/error.page-title.ejs') %>
  </head>
  <body id="fc-error-page">
    <div class="fc-sticky-wrapper">
      <div class="fc-sticky-body">
        <%- include('includes/header.ejs') %>
        <main class="fr-container fr-mt-5w fr-mt-md-8w">
          <div class="fr-grid-row fr-grid-row--gutters">
            <section
              data-testid="eidas-error-section"
              class="fr-col-12 fr-col-offset-md-1 fr-col-md-9 fr-mb-6v fr-mb-md-10v"
            >
              <%- include('pages/error/error.welcome.ejs') %> <%-
              include('pages/error/error.action.ejs') %>
            </section>
          </div>
        </main>
      </div>
      <%- include('includes/footer.ejs') %>
    </div>
  </body>
</html>
