<main role="main" class="fr-container fr-col-12 fr-col-md-10 fr-col-lg-12">

  <%- include('consent.title.ejs') %>

  <form class="fr-mb-7v fc-text--center" method="post" action="/api/v2/login">
    <button type="submit" class="fr-btn fr-btn--lg fc-btn--full-width" data-testid="consent-continue">
      Continuer sur <%= locals.spName %>
    </button>
    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
  </form>

  <%- include('consent.back-button.ejs') %>

  <%- include('consent.accordion.ejs', { accordionExpanded: false }); %>

</main>
