<main role="main" class="fr-container fr-col-12 fr-col-md-10 fr-col-lg-12">

  <%- include('consent.title.ejs'); %>

  <form class="fr-mb-7v" method="post" action="/api/v2/login">
    <div class="fr-checkbox-group fr-mb-3w fr-col-12 fr-col-lg-6 fr-col-xl-4 fr-m-auto">
      <input type="checkbox" data-testid="checkbox-consent" id="consent" name="consent" aria-label="consent">
      <label class="fr-label" data-testid="label-consent" for="consent">J’accepte que FranceConnect transmette mes données au service pour me connecter</label>
      <p id="checkbox-error-desc-error" class="fr-error-text" hidden>
        Veuillez cocher la case pour accepter le transfert des données
      </p>
    </div>
    <%# hidden input to prove that the user accepted consent %>
    <input type="hidden" name="accept" value="1" aria-label="accept" />
    <div class="fr-col-12 fc-text--center">
      <button data-testid="consent-continue" type="submit" class="fr-btn fr-btn--lg fc-btn--full-width" aria-disabled="true" disabled>
        Continuer sur <%= locals.spName %>
      </button>
    </div>
    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
  </form>

  <%- include('consent.back-button.ejs') %>

  <%- include('consent.accordion.ejs', { accordionExpanded: true }); %>

</main>
