<%


// Settings
const badgeClassname = provider.active
  ? 'fr-badge--info'
  : '';

const availability = !provider.active
  ? 'Indisponible'
  : '';

const disabled = !provider.active
  ? 'disabled'
  : '';

%>
<button
  role="link"
  id="idp-<%= provider.uid %>"
  data-testid="idp-<%= provider.uid %>"
  class="fr-btn fr-btn--tertiary fr-px-0 fc-btn--provider"
  <%= disabled %>
>

  <% if (provider.isBeta) { %>
    <p class="fr-badge <%= badgeClassname %> fr-badge--no-icon">
      BETA
    </p>
  <% } %>

  <figure
    class="fr-content-media"
    role="group"
    aria-label="<%= provider.title %>-<%= availability %>">
    <div class="fr-content-media__img">
      <img
        <%#
        leave the `alt` empty
        @see https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/contenu-medias
        %>
        alt=""
        src="/img/fi/<%= provider.image %>" />
    </div>
    <figcaption class="fr-content-media__caption fr-text--xs fr-mt-1-5v">
      <%= provider.title -%>
      <br />
      <%= availability -%>
    </figcaption>
  </figure>
</button>

