<%

const claimsGroups = $groupByDataProvider(claims);
const totalClaims = (claims || []).filter((c) => c && c.label).length;
const transmittedTitleKey =
  totalClaims === 1
    ? 'consent.transmitted_data_singular'
    : 'consent.transmitted_data';

%>
<div class="fr-accordion">
  <h3 class="fr-accordion__title">
    <button
      data-testid="consent-accordion-toggle"
      class="fr-accordion__btn"
      aria-expanded="<%= !!locals.consentRequired %>"
      aria-controls="accordion-consent">
      <%= $translate(transmittedTitleKey) %>
    </button>
  </h3>
  <div class="fr-collapse" id="accordion-consent">

    <div>
    <% Object.values(claimsGroups).forEach((group) => { %>

         <% const isSingle = group.length === 1; %>
         <p class="fr-mb-0"><strong><%= $translate(isSingle ? 'consent.data_fetched_from_singular' : 'consent.data_fetched_from', { dpName: group[0].provider.label }) %></strong></p>
         <% if (isSingle) { %>
           <p data-testid="consent-detail"><%= group[0].label %></p>
         <% } else { %>
           <ul data-testid="consent-detail">
            <% group.sort($claimOrder).forEach((claim) => { %>
               <li>
                 <%= claim.label %>
               </li>
             <% }) %>
           </ul>
         <% } %>

      <% }) %>

    </div>
  </div>
</div>
