<!doctype html>
<html lang="fr">
  <head>
    <%- include('includes/head') %>
    <title><%= locals.titleFront %></title>
  </head>
  <body>
    <%- include('includes/menu') %>
    <section class="welcome welcome--error">
      <div class="container text-center">
        <h1>Une erreur est survenue</h1>
      </div>
    </section>

    <section class="container">
    <h2 id="error-title" class=text-center>
      <%= locals.exception?.constructor?.name ?? "Error" %>: <span id="error-title"><%= locals.exception?.message || locals.error %></span>
    </h1>
    <p class="text-center">
      <!-- error description from query parameters -->
      <pre id="error-description"><%= locals.error_description %></pre>

      <!-- error details from exception -->
      <pre id="error-stack"><%= locals.exception?.stack %></pre>
      <pre id="original-stack"><%= locals.exception?.originalError?.stack %></pre>
    </p>
  </section>

  <%- include('includes/footer') %>
  </body>
</html>
