<!doctype html>
<html>
  <%- include("includes/head") %>

  <body>
    <div id="mire">
      <%- include("includes/header") %>

      <div id="container">
        <div class="inner">
          <h3 class="title"><%= $config('App.title') %></h3>

          <h4><%= locals.message %></h4>
          <ul style="text-align: left">
            <li>code : <strong><%= locals.error.code %></strong></li>
            <li>id: <%= locals.error.id %></li>
          </ul>
        </div>
      </div>
    </div>
    <%- include("includes/footer") %>
  </body>
</html>
