<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="theme-color" content="#000091" />
  <link
    rel="apple-touch-icon"
    href="<%= $asset('/favicon/apple-touch-icon.png') %>"
  />
  <link
    rel="icon"
    href="<%= $asset('/favicon/favicon.svg') %>"
    type="image/svg+xml"
  />
  <link
    rel="shortcut icon"
    href="<%= $asset('/favicon/favicon.ico') %>"
    type="image/x-icon"
  />
  <link
    rel="manifest"
    href="<%= $asset('/favicon/manifest.webmanifest') %>"
    crossorigin="use-credentials"
  />
  <!-- CSS -->
  <link
    rel="stylesheet"
    href="<%= $asset('/gouvfr/dist/dsfr/dsfr.min.css') %>"
  />
  <link rel="stylesheet" href="<%= $asset('/css/dsfr.sticky-footer.css') %>" />
  <link rel="stylesheet" href="<%= $asset('/css/dsfr.fc.css') %>" />
  <link
    rel="stylesheet"
    href="<%= $asset('/gouvfr/dist/utility/icons/icons.min.css') %>"
  />

  <title>Mock Datapass</title>
</head>
