<%
// Settings
const badgeClassname = provider.active
  ? 'fr-badge--info'
  : '';

const availability = !provider.active
  ? 'Indisponible'
  : '';

%>
<% if (provider.isBeta) { %>
  <p class="fr-badge <%= badgeClassname %> fr-badge--no-icon">
    <%= $translate('interaction.beta_provider') %>
  </p>
<% } %>

<figure
  class="fr-content-media"
>
  <% if(provider.image) { %>
  <div class="fr-content-media__img">
    <img
      alt=""
      src="<%= $asset(`/img/fi/${provider.image}`) %>" />
  </div>
  <% } %>
  <figcaption class="fr-content-media__caption fr-text--xs fr-mt-1-5v">
    <%= provider.title %>
    <br />
    <%= availability %>
  </figcaption>
</figure>
