<dialog
  data-testid="provider-selection-modal-<%= provider.uid %>"
  aria-labelledby="<%= approvalModalId %>-title"
  class="fr-modal"
  id="<%= approvalModalId %>"
  role="dialog">
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button
              data-testid="modal-close-button"
              type="button"
              class="fr-btn--close fr-btn"
              aria-controls="<%= approvalModalId %>">
              <%= $translate('common.close') %>
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 id="<%= approvalModalId %>-title" class="fr-modal__title">
              <%= provider.modal.title %>
            </h1>
            <p>
              <%= provider.modal.body %>
              <% if (provider.modal.moreInfoUrl) { %>
              <br />
              <a
                class="fr-link"
                target="_blank"
                rel="noopener external"
                href="<%= provider.modal.moreInfoUrl %>"
                title="<%= provider.modal.moreInfoLabel %> - <%= $translate('common.new_window') %>">
                <%= provider.modal.moreInfoLabel %>
              </a>
              <% } %>
            </p>
          </div>
          <div class="fr-modal__footer">
            <div
              class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg">
              <button
                data-testid="modal-continue-button"
                type="submit"
                class="fr-btn">
                <%= provider.modal.continueText %>
              </button>
              <button
                data-testid="modal-cancel-button"
                type="button"
                aria-controls="<%= approvalModalId %>"
                class="fr-btn fr-btn--secondary">
                <%= $translate('interaction.modal.cancel_text') %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>
