<% const DEFAULT_SCOPES = "openid given_name family_name birthdate gender birthplace birthcountry email preferred_username dgfip_rfr dgfip_aft cnam_paiements_ij";
   const defaultScopesArray = DEFAULT_SCOPES.split(' ');
%>
<form id="scopes">
<h2>Scopes</h2>
<% locals.params.scope.split(' ').forEach(elem => { %>
  <div class="scope-input-wrapper">
    <input
      id="scope_<%=elem%>"
      type="checkbox"
      name="selected-scope"
      value="<%=elem%>"
      <%= (defaultScopesArray.includes(elem) ? 'checked' : '') %>
      onChange="updateScope()"
      <%= (elem === 'openid' ? 'disabled' : '') %>
    />
    <label for="scope_<%=elem%>"><%=elem%></label>
  </div>
<% }) %>
</form>

<form id="authorizeForm" action="<%=locals.params.authorization_endpoint;%>" method="get">
  <section class="connect bg-light">
    <h2>Connectez-vous via FranceConnect</h2>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="scope"> Scopes : </label>
      <div class="col-10">
        <input id="scope" name="scope" type="text" value="" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="acrValues"> ACR values : </label>
      <div class="col-10">
        <input id="acrValues" name="acr_values" type="text" value="<%=locals.defaultAcrValue;%>" class="form-control" />
      </div>
    </div>

    <div class="btn d-flex justify-content-center">
      <button
        id="call-authorize-button"
        type="submit"
        class="btn no-pad hidden-btn"
        aria-label="Connexion à FranceConnect"
      ></button>
    </div>

    <input type="hidden" name="prompt" value="login consent" />
    <input type="hidden" name="claims" value='{"id_token":{"amr":{"essential":true}}}' />
    <input type="hidden" name="client_id" value="<%=locals.params.client_id;%>" />
    <input type="hidden" name="redirect_uri" value="<%=locals.params.redirect_uri;%>" />
    <input type="hidden" name="response_type" value="code" />
    <input type="hidden" name="state" value="<%=locals.params.state;%>" />
    <input type="hidden" name="nonce" value="<%=locals.params.nonce;%>" />
  </section>
</form>
