<form id="scopes">
  <h2>Scopes</h2>
  <% locals.params.scope.split(' ').forEach(elem => { %>
  <div class="scope-input-wrapper">
    <input
      id="scope_<%=elem%>"
      type="checkbox"
      name="selected-scope"
      value="<%=elem%>"
      checked
      onChange="updateScope();"
      <%= (elem === 'openid' ? 'disabled' : '') %>
    />
    <label for="scope_<%=elem%>"><%=elem%></label>
  </div>
  <% }) %>
  <h2>Claims</h2>
  <% ['amr'].forEach(elem => { %>
    <div class="claim-input-wrapper">
      <input
        id="claim_<%=elem%>"
        type="checkbox"
        name="selected-claim"
        value="<%=elem%>"
        checked
        onChange="updateClaim()"
      />
      <label for="claim_<%=elem%>"><%=elem%></label>
    </div>
  <% }) %>
  <h2>ACR <input
    id="acr_values_toggle"
    type="checkbox"
    name="activate-acr-values"
    onChange="toggleAcrValues()"
    checked
    />
  </h2>
  <select name="acr" id="acrSelector" aria-label="ACR Value" onChange="updateAcr();">
    <% ['eidas1', 'eidas2', 'eidas3'].forEach(acr => { %>
    <option value="<%=acr%>"><%=acr%></option>
    <% }) %>
  </select>
  <h2>Prompt <input
    id="prompt_toggle"
    type="checkbox"
    name="activate-prompt"
    onChange="togglePrompt()"
    checked
    />
  </h2>
<% ['login', 'consent', 'none', 'select_account'].forEach(elem => { %>
  <div class="prompt-input-wrapper">
    <input
      id="prompt_<%=elem%>"
      type="checkbox"
      name="selected-prompt"
      value="<%=elem%>"
      onChange="updatePrompt()"
      <%= ((locals.params.prompt || []).includes(elem) ? 'checked' : '') %>
    />
    <label for="prompt_<%=elem%>"><%=elem%></label>
  </div>
<% }) %>
</form>

<form id="authorizeForm" action="<%=locals.params.authorization_endpoint;%>" method="get">
  <section class="connect bg-light">
    <h2>Connectez-vous via ProConnect</h2>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="httpMethod">Http Method : </label>
      <div class="col-10">
        <select id="httpMethod" onChange="changeHttpMethod();">
          <option value="get" selected>GET</option>
          <option value="post">POST</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="scope"> Scopes : </label>
      <div class="col-10">
        <input id="scope" name="scope" type="text" value="" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="acrValues"> ACR values : </label>
      <div class="col-10">
        <input id="acrValues" name="acr_values" type="text" value="" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="claims"> Claims : </label>
      <div class="col-10">
        <input id="claims" name="claims" type="text" value="" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="claims"> Prompt : </label>
      <div class="col-10">
        <input id="prompt" name="prompt" type="text" value="" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="claims"> IDP Hint : </label>
      <div class="col-10">
        <input id="idp_hint" name="idp_hint" type="text" value="" class="form-control" />
      </div>
    </div>
    <div class="btn d-flex justify-content-center">
      <button
        id="call-authorize-button"
        type="submit"
        class="btn no-pad hidden-btn"
        aria-label="Connexion à ProConnect"
      ></button>
    </div>
  </section>

  <section id="moreOptions" class="connect bg-light">
    <h3>Options avancées</h3>

    <div class="form-group row">
      <label class="col-2 col-form-label" for="clientId"> Client Id : </label>
      <div class="col-10">
        <input id="clientId" type="text" name="client_id" value="<%=locals.params.client_id;%>" class="form-control" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" for="redirectUri"> Redirect URI : </label>
      <div class="col-10">
        <input id="redirectUri" type="text" name="redirect_uri" value="<%=locals.params.redirect_uri;%>" class="form-control" />
      </div>
    </div>
    <input type="hidden" name="response_type" value="code" />
    <input type="hidden" name="state" value="<%=locals.params.state;%>" />
    <input type="hidden" name="nonce" value="<%=locals.params.nonce;%>" />
  </section>
</form>
