<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('includes/head') %>
    <title><%= locals.titleFront %></title>
    <%- include('includes/scripts') %>
  </head>
  <body>
    <header>
      <%- include('includes/menu') %>
      <%- include('includes/welcome') %>
    </header>

    <main class="container">
      <form id="modeForm">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="mode" id="modeBasic" value="basic"
            onChange="this.form.submit();" <%= (locals.isAdvancedMode ? '' : 'checked') %>/>
          <label class="form-check-label" for="modeBasic">
            Mode Simple
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="mode" id="modeAdvanced" value="advanced"
            onChange="this.form.submit();" <%= (locals.isAdvancedMode ? 'checked' : '') %>/>
          <label class="form-check-label" for="modeAdvanced">
            Mode Avancé
          </label>
        </div>
      </form>

      <% if (locals.isAdvancedMode) { %>
        <%- include('includes/advanced-authorize-form') %>
      <% } else { %>
        <%- include('includes/basic-authorize-form') %>
      <% } %>

      <%- include('includes/bottom-links') %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
