<% if (provider.active) { %>
<% // Settings
    const badgeClassname = 'fr-badge--info';

    const providerClassname = provider.isBeta
      ? 'fc-btn--provider-beta'
      : 'fc-btn--provider';


      const disabled = !provider.active
      ? 'disabled'
      : '';
  %>
  <button
    role="link"
    id="<%= `idp-${provider.uid}` %>"
    class="fr-btn fr-btn--tertiary <%= providerClassname %>" <%= disabled %>>
    <% if (provider.isBeta) { %>
      <p class="fr-badge <%= badgeClassname %> fr-badge--no-icon">BETA</p>
    <% } %>
    <%= provider.title %>
  </button>
  <% } %>
  <input type="hidden" name="providerUid" value="<%= provider.uid %>" />
  <input type="hidden" name="acr_values" value="<%= params.acr_values %>" />
  <input type="hidden" name="scope" value="<%= locals.idpScope %>" />
  <input type="hidden" name="csrfToken" value="<%= locals.csrfToken %>" />
